<div class="page-title">
    <h4>История заказов</h4>
    <button class="btn btn-small" data-position="left" data-tooltip="Открыть фильтр"
        [ngClass]="{'active':isFilterVisibly,'red':isFiltered()}" (click)="isFilterVisibly = !isFilterVisibly" #tooltip>
        <i class="material-icons">filter_list</i>
    </button>
</div>
<app-history-filter *ngIf="isFilterVisibly" (onFilter)="applyFilter($event)"></app-history-filter>

<div *ngIf="!reloading;else reloadingComp">
    <div *ngIf="bids.length > 0;else empty">
        <app-history-list [bids]="bids"></app-history-list>
        <div class="center mb2" *ngIf="!noMoreBids">
            <button class="btn waves-effect grey darken-1 btn-small" (click)="loadMore()" *ngIf="!loading;else loader">
                Загрузить еще
            </button>
            <ng-template #loader>
                <app-loader></app-loader>
            </ng-template>
        </div>
    </div>
    <ng-template #empty>
        <div class="center">История пуста</div>
    </ng-template>
</div>
<ng-template #reloadingComp>
    <app-loader></app-loader>
</ng-template>